.logout-from-auth {
    margin-top: 42px   ;
    width: fit-content;
}

.container-auth {
    width: 530px;
    height: 572px;
    background: none;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    border-radius: 24px;
    margin-top: 100px;
    text-align: start;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.title-auth {
    font-size: 48px;
    font-weight: 600;
    color: #0F0A1D;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: left;
    /* padding-top: 30px; */
}
.form-auth {
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: left;
    /* margin-left: 48px; */
    margin-top: 30px;

}
.input-auth {
    width: fit-content;
    font-size: 24px;
    width: 435px;
    background:none;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #9B9999;
    outline: none;
    margin-top: 50px;
    color: #1a1515;
    display: flex;
    padding-bottom: 15px;

}

.input-auth::placeholder {
    font-weight: 200;
    color: #9B9999;
    padding-left: px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.btn-auth {
    width: 435px;
    height: 55px;
    border: none;
    background-color: #4699FF;
    color: #FEFEFE;
    font-size: 33px;
    border-radius: 16px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.4s ease;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
.auth-box {
    width: fit-content;
}
.wrapper-login {
    display: flex;
}

.btn-auth:hover {
    background-color: #207cba ;
}

.relink-reg, .relink-create-akk {
    display: flex;
    font-size: 20px;

    font-style: normal;
    font-weight: 300;
    color: #9B9999;
    justify-content: left;
    margin-top: 22px;

}
.relink-create-akk {
    margin-top: 5px !important;
}
.img-eye {
    width: 30px;
    height: fit-content;
    margin-bottom: 10px;
    margin-left: -34px;
}
.passw-input {
    display: flex;
    align-items: end;
}

.btn-regis {
    font-size: 26px;
    color: #B6E2FF;
    margin-left: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-regis:hover {
    color: #e3e9ee;
}
span.span-login {
    margin-left: 10px;
    color:#000;
}
.span-llogin {
    color:#9874FE;
    border-bottom: 0px solid;
    text-decoration: none;
    font-weight: 600;

}
.span-llogin:hover {
    border-bottom: 1px solid;

}

.auth-box{
    flex: 1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.0);
    z-index: 1;
}

.img-container-auth {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    animation: spin 2s ease forwards;
}
@keyframes spin {
    0% { right: -50%; }
    100% { right: 0; }
}

.auth-wrapper {
    padding-left: 84px;
}
.bg-elem {
    font-size: 184px;
    color: #EBEBEB;
    font-weight: 1000;
    z-index: 3;
    margin-right:150px;
    margin-top: -30px;
    position: relative;
}
.bg-elem span {
    font-size: 55.62px;
    font-weight: 700;
    margin-left: -90px;
}