@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header1 {
    background-color: #5b92d8;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-auth {
    width: 100%;
    max-width: 530px; /* Limiting the width for larger screens */
    height: 572px;
    background-color: #2F6181;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-auth {
    font-size: 57px;
    font-style: italic;
    font-weight: 500;
    color: #ffffff;
    margin-top: 47px;
    padding-top: 30px;
}

.form-auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.input-auth {
    width: 384px;
    font-size: 34px;
    background: none;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #bddddf;
    outline: none;
    margin-top: 50px;
    color: #ffffff;
}

.input-auth::placeholder {
    font-weight: 200;
    color: #bddddf;
    padding-left: 2px;
    padding-bottom: 20px;
}

.btn-reg {
    width: 384px;
    height: 70px;
    border: 2px solid #163452;
    background: none;
    color: #163452;
    font-size: 41px;
    border-radius: 12px;
    font-style: italic;
    font-weight: 500;
    transition: all 0.7s ease;
    margin-top: 85px;
    cursor: pointer;
    color:#47FFBF;
}

.btn-reg:hover {
    color: #ffffff;
    background-color: #163452;
}

.relink-reg {
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    color: #5aa7d8;
    margin-top: 50px;
}

.btn-regis {
    font-size: 26px;
    color: #b6e2ff;
    margin-left: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-regis:hover {
    color: #e3e9ee;
}

.auth-box {
    flex: 1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.img-container-auth {
    flex: 1;
}
.input-container {
    background-color: #4699FF; /* main-blue color */
    border-radius: 20px; /* rounded corners */
    padding: 20px; /* spacing around inputs */
    width: 400px; /* adjust width as needed */
    margin-top: 20px; /* spacing from the top */
}

.input-auth {
    width: 100%;
    font-size: 24px; /* adjust font size as needed */
    background: none;
    border: none;
    border-bottom: 1px solid #fff; /* white border bottom */
    outline: none;
    color: #fff; /* text color */
    margin-bottom: 10px; /* spacing between inputs */
}

.input-auth::placeholder {
    color: #fff; /* placeholder text color */
    opacity: 0.7; /* adjust placeholder opacity as needed */
}
