@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

}


.header1 {
    background-color: #5b92d8;
    height: 80px;
    display: flex;
    z-index: 3;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.container-auth {
    width: 530px;
    height: 572px;
    background-color: #2F6181;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-bottom: 45px;
    margin-left: 100px;

}
.title-auth {
    font-size: 57px;
    font-style: italic;
    font-weight: 500;
    color: #ffff;
    display: flex;
    justify-content: center;
    margin-top: 47px;
    padding-top: 30px;
}
.form-auth {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    margin-top: 30px;

}
.input-auth {
    width: fit-content;
    font-size: 34px;
    width: 384px;
    background:none;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #BDDDDF;
    outline: none;
    margin-top: 50px;
    color: #ffff;

}
.btn-auth {
    width: fit-content;
}
.input-auth::placeholder {
    font-weight: 200;
    color: #BDDDDF;
    padding-left: 2px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.btn-auth {
    width: 300px;
    height: 57px;
    border:2px solid #163452;
    background: none;
    color: #163452;
    font-size: 41px;
    border-radius: 12px;
    font-style: italic;
    font-weight: 500;
    transition: all 0.7s ease;
    margin-top: 85px;
    display: flex;
    margin-left: 80px;
    display: flex;
    justify-content: center;
}

.btn-auth:hover {
    color: #2F6181;
    background-color: #163452 ;
}

.relink-reg {
    display: flex;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    color: #5AA7D8;
    justify-content: center;
    margin-right: 20px;
    margin-top: 50px;
}
.btn-regis {
    font-size: 26px;
    color: #B6E2FF;
    margin-left: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-regis:hover {
    color: #e3e9ee;
}

.auth-box{
    /* width: 740px; */
    flex: 1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    /* display:flex */
    z-index: 1;

}

.img-container-auth {
    flex: 1;
}
.auth-wrapper {
    display: flex;
}
