.subtitle-solve {
    display: flex;
    justify-content: space-between;
}

    .timer_solve {
        /* width: 199px; */
        /* height: 116px; */
        border-radius: 12px;
        background-color: #EBEBEB;
        border: 2px solid #4699FF;
        padding: 10px 12px 10px 12px;
        /* position: fixed; */
        /* right: 80px; */
        z-index: 1;
    }
    .grade-title-2, .grade-title-3, .grade-title-4, .grade-title-5 {
        font-size: 36px;
        font-weight: 800;
    }
    .your_mark {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .grade-title-2 {
        color: #F14F4F;
    }
    .grade-title-3 {
        color: #D0EF12;
    }
    .grade-title-4 {
        color: #009CFF;
    }
    .grade-title-5 {
        color: #10e44c;
    }
    
.title-nums {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;

}
.table-nums {
    width: 100px;
    min-height: 70px;
    border-radius: 12px;
    border: 3px solid #4699FF;
}
.num-ans {
    font-size: 24px;
    border-top: 3px solid #4699FF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0 2px 0;
    height: 40px;
}
.table-your-ans, .table-corr-ans {
    width: 500px;
    min-height: 70px;
    border-radius: 12px;
    border: 3px solid #4699FF;
}
.table-your-ans {
    margin: 0px 25px 0 25px;
}
.tables {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.conclution, .all-points {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.all-points {
margin-top: 30px;
margin-bottom: 100px;
}