.user-info-box {
    /* width: 765px; */
    min-height: 700px;
    background-color: #4699FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
    position: relative;
    /* margin-left: 110px; */
    box-sizing:border-box;
    margin-top: 90px;
    border-radius:20px;
    margin-bottom: 50px;
    
}
.container-profile {
    margin: 0 auto;
    max-width: 1950px;
    padding: 0 60px;
    box-sizing: border-box;
}
.header-user-info {
    color: #ffff;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    display: flex;
    padding: 34px 50px;
    display: flex;
    flex-direction: column;
}
.btn-save {
position: absolute;
right: 28px;
color: #ffff;
padding: 8px 17px;
background-color: #9874FE;
border-radius: 20px;
margin-top: 0px;
font-size: 20px;
margin-right: 10px;
cursor: pointer;
transition: all 0.4s ease;


}
.btn-save:hover {
    background-color: #7450DA;

}
/* .header-user-info::after {
    background-color : #87AFC9;
    display: block;
    content:'';
    height: 1px;
    width: 636px;
margin-top: 25px;
} */

.wrapper-userinfo {
    background-color: rgb(96, 142, 183)
}
.user-information {
    display: flex;
    justify-content: space-between;
}

.modal {
    position: fixed;
    z-index: 20;
    /* top: 15%; */
    /* left: 30%; */
    /* position: relative; */
    background-color: #2575d6; /* Цвет фона модального окна */
}


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.618); /* Чем ниже значение последнего числа, тем больше размытие */
    backdrop-filter: blur(3px); 
        display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Устанавливаем ниже модального окна */
}