.user-info-box {
    width: 765px;
    min-height: 986px;
    background-color: #296388;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-left: 110px;
    margin-top: 90px;
}
.header-user-info {
    color: #ffff;
    font-size: 26px;
    font-style: italic;
    font-weight: 500;
    display: flex;
    padding: 34px 50px;
    display: flex;
    flex-direction: column;
}
.btn-save {
position: absolute;
right: 28px;
color: #1B3C51;
padding: 8px 17px;
background-color: #4780B8;
margin-top: -10px;
cursor: pointer;
transition: all 0.4s ease;


}
.btn-save:hover {
    background-color: #3b6fa3;

}
.header-user-info::after {
    background-color : #87AFC9;
    display: block;
    content:'';
    height: 1px;
    width: 636px;
margin-top: 25px;
}

.wrapper-userinfo {
    background-color: rgb(96, 142, 183)
}

.modal {
    position: fixed;
    z-index: 20;
    top: 15%;
    left: 30%;
    /* position: relative; */
    background-color: rgb(23, 74, 119); /* Цвет фона модального окна */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Тень */
}


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Потемнение фона */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Устанавливаем ниже модального окна */
}