.banner {
    width: 100%;
    min-height: 544px;
    background-color: #9874FE;
    border-radius: 30px;
    display: flex;
    margin: 50px auto;
    display:flex;
    justify-content: center;
    

}
.left-banner {
    margin-left: 30px;
}
.title-banner {
    color: #47FFBF;
    font-size: 32px;
    font-weight: 700;
    padding-top: 50px;

}
.title-span {
    font-weight: 800;
    font-style: italic;
}
.subtitle-banner {
    font-size: 60px;
    color: #ffff;
    font-weight: 700;
    /* font-style: italic; */
    line-height: 1.0;

}
.subt-span {
    font-style: italic;
    font-weight: 800;

}
.info-banner {
    font-size: 24px;
    color: #FAFAFA;
    max-width: 720px;
    margin-top: 35px;
}
.btn-check {
    color: #000;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 20px;
    background-color: #47FFBF;
    transition: all 0.3s ease;
    width: fit-content;
    margin-top: 35px;
    cursor: pointer;
    margin-bottom: 20px;
}
.btn-che {
    text-decoration: none;
    color: #000;
}
.btn-check:hover {
    background-color: #2FC792;

}
.right-banner {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 67px;
}
.container {
    margin: 0 80px;
    max-width: 1950px;
}



.alert-container {
    background-color:#4699FF;
    justify-content: center;
    position: fixed;
    max-height: 250px;
    max-width: 500px;
    border-radius: 30px;
    color:#000;
    border: 3px solid #000;
    margin-top: 50px;
    z-index: 8;

}
.alert {
    width: 500px;
    height: 500px;
    
    
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.618); /* Чем ниже значение последнего числа, тем больше размытие */
    backdrop-filter: blur(3px); /* Размытие заднего фона */
    z-index: 7; /* Ниже z-index алерта */
  }
.title-alert {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
.btn-alert1, .btn-alert2 {
font-size: 20px;
    text-decoration: none;
    background: none;
    font-weight: 800;
    color:#000;
    width: 408px;
    /* height: 44px; */
    border-radius: 20px;
    border: 2px solid #000;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-alert1:hover , .btn-alert2:hover {
    background-color: #47FFBF;
}
.btn-alert2 {
    padding: 8px 0;

}
.btns-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-ban {
    display: none;
}

@media (max-width: 1146px) {
    .info-banner {
        font-size: 20px;
    }
    .subtitle-banner {
        font-size: 50px;
    }
    .title-banner {
        font-size: 28px;
    }
    .btn-check {
        transform: scale(0.8); 
        margin-left: -20px;
    }
}
@media (max-width: 1146px) {
    .img-banner {
        width: 35   0px;
    }
}
/* @media (max-width: 1079px) {

    .subtitle-banner {
        font-size: 40px;
    }
    .title-banner {
        font-size: 25px;
    }


} */
@media (max-width: 1105px) {
.right-banner {
    display: none;
}
/* .img-ban {
    display: block;
} */
.btn-check {
    margin-bottom: 40px;
}
.banner {
    min-height: 200px;
}
}
@media (max-width: 885px) {
    .info-banner{
        margin-right: 40px;
    }
    
}    
@media (max-width: 740px) {
    .title-banner{
        margin-right: 20px;
    }
    .img-ban {
        display: block;

    }
  
    
}
@media (max-width: 660px) {
   
    .img-ban {
        display: none;

    }
  
    
}
@media (max-width: 660px) {
    .container {
        margin: 0 30px;
    }
}
@media (max-width: 500px) {
    .subtitle-banner {
        font-size: 40px;
    }
    .title-banner {
        font-size: 23px;
        margin-bottom: 10px;
        padding-top: 30px;
    }
    .banner {
        margin: 30px 0;
    
        border-radius: 20px
    }
}
@media (max-width: 400px) {
    .subtitle-banner {
        font-size: 30px;
    }
    .title-banner {
        font-size: 19px;
        margin-bottom: 10px;
        padding-top: 30px;
    }
    .banner {
        margin: 30px 0;
    }
    .info-banner{
        font-size: 14px;
    }
    .btn-check {
        transform: scale(0.6); 
        margin: 5px;
        margin-left: -45px;


    }
   
}