.dostizh {
    margin-left: 30px;
    margin-top: 30px;
}
.main-wrapper-profile {
    display: flex;
}
.dostizh1 {
    margin-top: 90px;
    margin-left: 90px;

}
.header-wrapp {
    display: flex;
    height: 80px;
    align-items:center
}
.main-wrapper-profile {
    margin: 0 auto;
    max-width: 1950px;
    padding: 0 80px;
    box-sizing: border-box;
}