.cards {
    display: flex;
    justify-content: space-around;
margin-top: 100px;
flex-wrap: wrap;

}
.card1 {
    margin-left: 55px;
    transition: all 0.3s ease;

}

.card3 {
    transition: all 0.3s ease;
    margin-right: 55px;

}
.card2 {
    transition: all 0.3s ease;

}
.card3:hover  {
margin-top: -30px;
}
.card1:hover {
margin-top: -30px;
}
.card2:hover {
    margin-top: -30px;

}

