.video {
    background-color: #4699FF;
    margin-top: 200px;
    }

    .gallery {
        width: 100%;
        overflow-x: auto; 
        white-space: nowrap;
        margin-top: 100px;
        padding-bottom: 40px;
        position: relative;

    }
    .gallery img {
      height: auto; 
      display: inline-block; 
      margin-left: 20px; 
      padding-top: 100px;
    }
    
    .gallery::-webkit-scrollbar {
        display: none; 
      }

.subt-name-video {

}
.img-video1 {
    margin-left: 40px;

}
.img-video2 {
    vertical-align: top;
}

.btns-move {
    display:flex;
    justify-content: center;
    margin-top: 30px;
}
.left-move, .right-move {
margin: 20px;
cursor: pointer;
padding-bottom: 30px;

}