.video {
    background-color: #4699FF;
    margin-top: 200px;
    }

    .gallery {
        width: 100%;
        overflow-x: auto; 
        white-space: nowrap;
        margin-top: 100px;
        padding-bottom: 40px;
        position: relative;

    }
    .gallery img {
      height: auto; 
      display: inline-block; 
      margin-left: 20px; 
      padding-top: 100px;
    }
    
    .gallery::-webkit-scrollbar {
        display: none; 
      }

.subt-name-video {

}
.img-video1 {
    margin-left: 40px;

}
.img-video2 {
    vertical-align: top;
}

.btns-move {
    display:flex;
    justify-content: center;
    margin-top: 30px;
}
.left-move, .right-move {
margin: 20px;
cursor: pointer;
padding-bottom: 30px;

}
@media (max-width:1100px) {
    .btns-move {
        margin-top: 0;
    }
    .gallery {
        padding-bottom: 0;
    }
    .video {
        margin-top: 120px;
    }
}
@media (max-width:800px) {
    /* .btns-move {
        margin-top: 0;
    } */
    .gallery {
        transform: scale(0.9);
    }
    .gallery img {
        padding-top: 60px;
    }
    
}
@media (max-width:500px) {
    /* .btns-move {
        margin-top: 0;
    } */
    .gallery {
        transform: scale(0.7);
        width: 130%;
        margin-left: -60px;
    }
  
    .gallery img {
        padding-top: 0px;
    }
    .video {
        margin:-70px;
    }
    .btns-move {
        transform: scale(0.8);

    }
    
}