.header {
    background-color: #4e87d286;
    height: 80px;
    display: flex;
    z-index: 3;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #3F799E;
}
.logo-main {
    margin-top: 10px;
    margin-left: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    margin-top: 10px;
    
}
.btn-head {
    height: fit-content;
    margin-left: 70px;
    background:none;
    border: none;
    text-decoration: none;
    font-size: 20px;
    color: #EEFEFF;
    transition: all 0.3s ease;
}
.btn-head:hover {
    color:#bde1e3
}
.autor {
    margin-left: 50px;
}
.logo {
    margin-top: 10px;
}

.custom-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

  }
  
  .custom-tooltip .mini-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 30px;
    z-index: 10;
  }
  
  .custom-tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: #506b90c2;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 10%;
    margin-left: -95px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  

  .custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; 
    

  }
.tooltiptext {
    display: flex;
    flex-direction: column ;
    z-index: 10 ;
    position: relative;
    background:none
}

.sign-up, .profile_btn {
        display: inline-block;
        color: rgb(255, 255, 255);
        font-size: 23px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #ffffff;
        border-radius: 89px;
        padding: 10px 15px;
        position: relative;
        font-weight: lighter;
        transition: all 0.5s ease;
        margin-top: 20px;
        background: none;
        font-weight: 400;

}

.profile_btn {
    padding: 10px 25px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.sign-up:hover, .log-in:hover, .profile_btn:hover {

    /* background-color:#045C24; */
    color:rgb(40, 113, 152);
    /* border-color: black; */
    background-color:#fff;
    font-weight: 400;

}
.log-in {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 23px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ffffff;
    border-radius: 89px;
    padding: 10px 42px;
    position: relative;
    font-weight: lighter;
    transition: all 0.5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    background: none;
    font-weight: 400;

}