.footer {
    background-color: #4699FF;
    margin-top: 30px;
    display: flex;
    display:flex;
    justify-content: space-between;
}
.logo-foot {
    padding-left: 30px;
    padding-top: 20px;
}
.undertitle {
    font-size: 29px;
    color: #000;
    font-weight: 700;
    margin-top: 30px;
}
.undertitle::after {
    content: '';
    display: block;
    background-color: #010f1800;
    width: 300px;
    height: 2px;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-bottom: 40px;

}
.undertitle:hover::after {
    width: 500px;
} 
.title-cont {
    font-size: 36px;
    color: #000;
    margin-bottom: 35px;
    font-weight: 800;
    text-align: end;

    
}
.span-foot {
    font-weight: 900;
    font-style: italic;

}
.num, .num-2giz {
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
    text-align: end;
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;

}

.num-2giz:hover, .num:hover {
    text-decoration: underline;
}
.contac {
    /* position: absolute;
    right: 100px; */
    margin-top: 30px;
    margin-right: 50px;
}
.copy-message {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color:#47FFBF;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    margin-left: 10px;
}

@media (max-width:800px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:687px) {
    .title-cont, .num, .num-2giz {
        text-align: left;
        
    }
    .contac {
margin-left: 40px;    }
}
@media (max-width:650px) {
    .title-cont, .num, .num-2giz {
        text-align: left;
        
    }
}

