.nickname {
    width: 150px;
    color: #fefefE;
    font-size: 23px;
    font-weight: 400;
    text-align: right;
    /* margin-left: 38px; */
}
.nickname-info,.nickname-info1, .nickname-info-bio {
    font-size: 23px;
    color: #ffff;
    margin-left: 87px;
    font-weight: 500;
    max-width: 400px;
    display: flex;
    flex-direction: column;

}
.left-user-info {
    margin-left: -25px;
}
.nickname-info1 {
    font-size: 35px;
    color: #ffff;
    margin-left: 60px;
    margin-top: -130px;
    font-weight: 600;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.red-text {
    color: #b3b3b3;
    font-size: 23px;
    margin-left: 87px;
    font-weight: 500;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.nickname-box {
    display: flex;
    flex-direction: column;
}
/* .nickname-info::after, .red-text::after {
    display: block;
    content: '';
    width: 377px;
    height: 0.4px;
    background-color: #87AFC9;
    margin-top: 32px;


} */
.nickname-box, .nickname-box1, .nickname-box-bio {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}
.personal-box, .wrapper-box-user {
    display: flex;
    /* flex-direction: column; */
}
.personal-box {
    flex-direction: column;
    border-radius: 24px;
    border: 1px solid #ffff;
    margin: 0 25px;
}
.title-userinfo {
    font-size: 32px;
    font-weight: 700;
    color: #ffff;
    margin-left: 50px;
    margin-top: 25px;
}
/* .nickname-info-bio::after {
    display: block;
    content: '';
    width: 636px;
    height: 1px;
    background-color: #87AFC9;
    margin-top: 32px;
    position: absolute;
    left: 58px;
    bottom: -100px;
} */

#text {
    width: 100px;
}

.wrapper-bio-userinfo {
    border-radius: 24px;
    border: 1px solid #ffff;
    margin: 40px 25px;
    padding-bottom: 40px;

}
.nickname-box-bio {
    display: flex;
    flex-direction: column;
}
.nickname-bio {
    font-size: 32px;
    font-weight: 700;
    color: #ffff;
    margin-left: 50px;
    margin-top: 25px;
    position: relative;
}

.nickname-info-bio {
    max-width: 500px;
    margin-left: 58px;
    margin-top: 24px;
}