@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.limit {
    /* display: flex;
align-items:center; */
width: 100%;

}
body {
    overflow-x: hidden 
}